<%- include("../partials/html-head.ejs") %>
<link rel="stylesheet" href="/stylesheets/birthdays/show.css">
<%- include("../partials/nav.ejs") %>

<main>
  <h1>Birthday Details</h1>
  <table>
    <tr>
      <th>Name:</th>
      <td><%= birthday.personName %></td>
    </tr>
    <tr>
      <th>Birthdate:</th>
      <td><%= new Date(birthday.birthday.getTime() + (new Date().getTimezoneOffset() * 60 * 1000)).toLocaleDateString() %></td>
    </tr>
    <tr>
      <% const birthdate = new Date(birthday.birthday)
      const now = new Date()
      const ageInMilliseconds = now - birthdate
      const ageDate = new Date(ageInMilliseconds)
      const ageInYears = ageDate.getUTCFullYear() - 1970
      const ageInMonths = ageDate.getUTCMonth()
      const ageInDays = ageDate.getUTCDate() - 1

      let ageString = ageInYears + " years"
      if (ageInMonths > 0) {
        ageString += ", " + ageInMonths + " months"
      }
      if (ageInDays > 0) {
        ageString += ", " + ageInDays + " days"
      } %>
      <th>Age:</th>
      <td><%= ageString %></td>
    </tr>
    <tr>
      <th>Note:</th>
      <td><%= birthday.notes %></td>
    </tr>
  </table>

  <div class="gifts">
    <% if (birthday.gifts.length) { %>
      <p>Gifts:&nbsp;</p>
      <% birthday.gifts.forEach( (gift, i) => { %>
        <% if (i > 0) { %>
          <span>, </span>
        <% } %>
        <span><%=gift.name %></span>
      <% }) %>
    <% } else { %>
      <p>No gifts</p>  
    <% } %>
  </div>


  <h2>Add Gifts:</h2>
  <% if(gifts.length) { %>
    <form id="add-gift" action="/birthdays/<%=birthday._id%>/gifts" method="POST">
      <select name="giftId">
        <% gifts.forEach(gift => { %>
          <option value="<%= gift._id %>"><%= gift.name %></option>
        <% }) %>
      </select>
      <button type="submit">Add to Birthday</button>
    </form>
    <% } else { %>
    <p>No gifts available</p>
  <% } %>

  <br>
  <a href="/birthdays">
    <button id="add-btn" type="submit">Back to Birthdays List</button>
  </a>
  <a href="/birthdays/<%= birthday.id %>/edit"> 
    <button id="all-btn" type="submit">Edit Birthday</button>
  </a>
</main>

<%- include("../partials/footer.ejs") %>

