<%- include("../partials/html-head.ejs") %>
<link rel="stylesheet" href="/stylesheets/birthdays/index.css">
<%- include("../partials/nav.ejs") %>

<main>
  <h1>Birthday Details</h1>
  <table>
    <tr>
      <th>Name:</th>
      <td><%= birthday.personName %></td>
    </tr>
    <tr>
      <th>Birthdate:</th>
      <td><%= new Date(birthday.birthday.getTime() + (new Date().getTimezoneOffset() * 60 * 1000)).toLocaleDateString() %></td>
    </tr>
    <tr>
      <% const birthdate = new Date(birthday.birthday)
      const now = new Date()
      const ageInMilliseconds = now - birthdate
      const ageDate = new Date(ageInMilliseconds)
      const ageInYears = ageDate.getUTCFullYear() - 1970
      const ageInMonths = ageDate.getUTCMonth()
      const ageInDays = ageDate.getUTCDate() - 1

      let ageString = ageInYears + " years"
      if (ageInMonths > 0) {
        ageString += ", " + ageInMonths + " months"
      }
      if (ageInDays > 0) {
        ageString += ", " + ageInDays + " days"
      } %>
      <th>Age:</th>
      <td><%= ageString %></td>
    </tr>
    <tr>
      <th>Note:</th>
      <td><%= birthday.notes %></td>
    </tr>
    <tr>
      <th>Gifts:</th>
      <td>
        <ul>
          <% birthday.gifts.forEach(gift => { %>
            <li><%= gift.name %>: <%= gift.description %></li>
          <% }) %>
        </ul>
      </td>
    </tr>
  </table>
  <br>
  <a href="/birthdays">Back to Birthdays List</a>
  <br>
  <a href="/birthdays/<%= birthday.id %>/edit">Edit Birthday</a>
</main>

<%- include("../partials/footer.ejs") %>

